.weather-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .separator {
        width: 100%;
        height: 1px;
        background-color: #d3d3d3;
        margin: 16px auto;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px;
        justify-content: space-between;
    }

    .location-container {
        height: 48%;
        display: inline-block;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        padding: 20px;

        .location-picker {
            width: 100%;
            height: 95%;
            top: 2.5%;
            overflow-x: hidden;
            overflow-y: scroll;

            .location {
                width: 100%;
                height: 100px;
                display: inline-block;
                padding: 20px 10px;
                position: relative;

                i {
                    color: #f0ae29;
                    margin-right: 12px;
                }

                .location-name {
                    display: inline-block;
                    position: absolute;
                    width: 85%;
                    color: #828282;
                    text-align: left;
                }

                .location-position {
                    color: #d3d3d3;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    bottom: 20px;
                    width: 85%;
                    margin-left: 24px;
                }

            }

            .location.selected {
                background: #d3d3d34f;
            }
        }

    }

    .chart-container {
        height: 48%;
        display: inline-block;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        padding: 20px;
        .chart-heading {
            .chart-label{
                font-size: 18px;
                font-weight: 100;
                color: #828282;
            }
        }
        .chart-wrapper {
            width: 100%;
            height: 80%;
        }

    }

    .weather-report-container {
        height: 100%;
        display: inline-block;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        padding: 20px;

        .weather-report-heading {
            .location-label {
                font-size: 18px;
                font-weight: 100;
                color: #828282;
            }
        }


        .weather-report {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 90%;

            .daily-weather-report {
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .day-label {
                    line-height: 100px;
                    width: 50%;
                }

                .temp-wrapper {
                    width: 25%;
                    text-align: center;

                    .temp {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 60px;
                    }

                    .temp-label {
                        font-size: 12px;
                        text-align: center;
                        color: #d3d3d3;
                    }
                }
            }


        }


    }

}

@media only screen and (max-width: 768px) {
    .weather-container {
        padding: 10px;
        flex-direction: column;

        .column {
            width: 100%;
            height: 100%;
        }

        .location-container {
            padding: 10px;
        }

        .weather-report-container {
            margin-top: 10px;
        }
    }
}